chromadb>=0.4.22
datasets>=2.15.0
datasketch>=1.6.4
evaluate>=0.4.1
langchain>=0.10
nltk>=3.8.1
numpy>=1.26.2
pandas>=2.1.4
pyarrow>=14.0.1
rich>=13.7.0
sentence_transformers>=2.2.2
tensorboardX>=2.6.2.2pi
tokenizers>=0.15.0
torch>=2.1.1
transformers==4.37.2
trl>=0.7.6
ujson>=5.8.0
